<footer class="footer">
  <nav class="navsfooter">
      <section class="one">
          <h1><em>k</em> krafti</h1>
          <p>Copyright <i></i> Krafti 2022</p>
      </section>
      <section class="two">
          <h4>Get Help</h4>
          <p>See all services <br> Contact support <br> Log In/Register</p>
      </section>
      <section class="three">
          <h4>Get Help</h4>
          <p>About Us <br> Blog <br> Contact us <br> Help & support</p>
      </section>
  </nav>


</footer>