<html>

    <%- include("./partials/head.ejs") %>

<body>
    <header class="head">
        <div class="logo">
            <img src="/images/sha.png" alt="">
            <h1><em>k</em>krafti</h1>
        </div>
        
        <%- include("./partials/nav.ejs") %>

    </header>


    <%- include("./partials/footer.ejs") %>

</body>

</html>